@using DrugTrade.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@GlobalConstants.SystemName Ви приведства!</h1>
    <h2>Купувайте и продавайте лекарства без рецепта бързо и лесно.</h2>
</div>
