@using DrugTrade.Web.ViewModels.Pharmacies
@model PharmacyInputModel

@{
    this.ViewData["Title"] = "Edit Pharmacy";
    var data = ViewBag.Data;
}

<h1 class="display-3">Промени Аптеката</h1>

<form asp-controller="Pharmacy" asp-action="Edit" method="post">

    <div class="form-group">
        <label for="name">Име</label>
        <input type="text" class="form-control" id="name" name="Name" value="@data.Name">
    </div>
    <div class="form-group">
        <label for="address">Адрес</label>
        <input type="text" class="form-control" id="address" name="Address" value="@data.Address">
    </div>
    <div class="form-group">
        <label for="contactNumber">Номер за връзка</label>
        <input type="text" class="form-control" id="contactNumber" name="ContactNumber" value="@data.ContactNumber">
    </div>
    <div class="form-group">
        <label for="profileImage">Връзка към снимка:</label>
        <input type="text" class="form-control" id="profileImage" name="ProfileImage" value="@data.ProfileImage">
    </div>
    <button type="submit" class="btn btn-primary">Промени</button>
</form>